#div1{
    height:500px;
    width: 300px;
    background-color: blueviolet;
    
}

.red{
    width: 100px;
    height: 100px;
    background-color: brown;

}
 .blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: sticky;
    bottom: 10px;
    

    
    
 }
 .green{
    width: 100px;
    height: 100px;
    background-color: green;
 }
